<configuration>

    <!-- Appender for debugging -->
    <appender name="GUAC-FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/tomcat/guacamole.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log at DEBUG level -->
    <root level="debug">
        <appender-ref ref="GUAC-FILE"/>
    </root>

</configuration>
